
body {
  font-family: Montserrat, serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(35, 35, 35, 1);
}

.app {
  height: 100vh;
}

.tint-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
